:root {
  font-family: var(--font-main);
  font-weight: var(--fw-regular);

  --color-primary: #1DE782;
  --color-primary-weak: #BDF0C1;
  --color-danger: #DC0000;
  --bg-main: #FFFFFF;
  --bg-dark: #020700;
  --bg-news: #1A1A1A;
  --bg-filmography: #111;
  --poster-bg-hover: #2ECC7166;
  --text-main: #FFFFFF;
  --text-main-dark: #101012;
  --text-secondary: #5A5A5D;
  --text-dark: #000000;
  --text-news-date: #888888;
  --text-inactive: #666;
  --text-hover: #aaa;
  --ui-border: #BEBEBF;
  --ui-disabled: #A1D9BE;
  --button-save: #007BFF;
  --button-cancel: #6C757D;
  --button-hover: #17C769;
  --button-inactive: #A1D9BE;
  --button-disabled: #D5E5F0;
  --button-all-news: #2ecc71;
  --card-active: #008550;
  --card-divider: #333;
  --font-main: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-heavy: 900;
  --seat-selected: #0bee0b;      
  --seat-occupied: #262626;      
  --seat-vip: #FFD700;           
  --seat-loveseats: #FF69B4;     
  --seat-premium: #C0C0C0;       
  --seat-broken: #333333;
}

body{
  padding: 0;
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.client{
  color: var(--text-main);
}
.admin{
  color: var(--text-main-dark);
}
