

.button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 200ms ease;
    font-family: inherit;
    font-size: inherit;
}

.button:disabled {
    background-color: var(--button-disabled);
}


.fill {

}
.fill:hover {
    opacity: 0.8;
}

.outline {
    background-color: transparent;
    border-opacity: 0.7;
}

.textOnly {
    background-color: transparent;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
