.wrapper{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
.wrapper label{
font-weight: var(--fw-medium);
font-family: var(--font-main);
font-size: 1.125em;
margin: 0 1em 0.6em 0;
}

.input{
    font-family: var(--font-main);
    padding: 0.6em 1em ;
    box-shadow:0px 0px 2px rgba(0,0,0,0.6);
    border-radius: 0.3em;
    border: 0;
}

.input:focus-visible{
    outline-color: var(--color-primary);
    color: var(--color-primary);
}

.errorMessage{
    color: var(--color-danger);
    font-weight: var(--fw-light);
    margin-top: 0.2em;
}