.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* backdrop-filter: blur(5px); design frezee with blur */
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow-y: auto;
    
    padding: 4em 2em;
    box-sizing: border-box;
    z-index: 1000;
}

.content {
    background-color: var(--bg-main);
    padding: 1.4em 2em 2em 2em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    
    min-width: 60vw;
    flex-shrink: 0;
}
.header{
    display: flex;
    font-size: 0.6rem;
    color: var(--text-secondary);
}
.header:has(h2){
    justify-content: space-between;
}
.header:not(:has(h2)){
    justify-content: end;
}
.header h2{
    padding: 0;
    margin: 0;
    font-weight: var(--fw-regular);
}
.closeBtn{
    margin-left: 1em;
    font-size: 2em;
    padding: 0;
    transition: transform 70ms;
}
.closeBtn:hover{
    transform: scale(1.2);
}