.pendingForm{
    cursor: not-allowed;
    background-color: var(--button-disabled);
}

.actions{
    display: flex;
    justify-content: end;
    gap:2em;
    margin-top: 1em;
}


.message{
color: var(--color-primary);
font-size: 0.8em;
}