.actionCell{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.actionCell >button , .actionCell> a {
    border-radius: 0;
    width: 100%;
    padding: 1em 2em;
}

td:has(.actionCell){
    padding: 0;
}