.container {
    display: flex;
    flex-direction: column;
    gap: 0.3em; /* Використовуємо відсотки для адаптивності */
    padding: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    gap: 0.5%; /* Відстань між сидіннями */
    justify-content: center;
}

.seat {
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    
    max-width: 3em;
    border-radius: 0.2em;
    background: var(--bg-main);
    border: 2px var(--color-primary) solid;
    box-sizing: border-box;
}