.wrapper {
    width: 100%;
    max-width: 80vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    
    width: max-content; 
    min-width: 100%;
    margin: 0 auto; 
    box-sizing: border-box;
    
    align-items: center;
}

.row {
    display: flex;
    gap: 4px;
    flex-wrap: nowrap;
    
    justify-content: center;
}

.cell {
    flex: 0 0 30px; 
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.rowNumber, .colNumber {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: var(--text-secondary);
}

.rowDiff {
    display: flex;
    gap: 4px;
    width: auto; 
    
    justify-content: center;
}

.seat {
    border-radius: 40% 40% 0.2em 0.2em;
    background: var(--bg-main);
    border: 2px var(--color-primary) solid;
    box-sizing: border-box;
}