
.actions{
    display: flex;
    justify-content: end;
    gap:2em;
    margin-top: 1em;
}

.datesContainer{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 1em;
    margin: 1em 0;
}

.ImageInput{
    margin: 2em 0;
}