.container {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    background: #181818;
    border-radius: 12px;
    min-height: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    overflow: hidden;
}

/* САЙДБАР */
.sidebar {
    width: 280px;
    background: #202020;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333;
}

.profileIcon {
    width: 60px;
    height: 60px;
    background: #00df82; /* Твій зелений */
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav button {
    background: transparent;
    border: none;
    color: #aaa;
    text-align: left;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.nav button:hover {
    background: #2a2a2a;
    color: #fff;
}

.nav button.active {
    background: #00df82;
    color: #000;
    font-weight: bold;
}

.logoutBtn {
    margin-top: auto;
    background: transparent;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* КОНТЕНТ */
.content {
    flex: 1;
    padding: 40px;
    background: #121212;
}

.title {
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
    border-left: 5px solid #00df82;
    padding-left: 20px;
}

.ticketGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.ticketCard {
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
}

.ticketCard:hover {
    border-color: #00df82;
    transform: translateY(-5px);
}

.movieTitle {
    color: #00df82;
    font-weight: bold;
    font-size: 18px;
}

.inputGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    color: #888;
    margin-bottom: 8px;
}

.inputGroup input {
    background: #222;
    border: 1px solid #444;
    padding: 12px;
    border-radius: 6px;
    color: #fff;
}

.inputGroup input:focus {
    border-color: #00df82;
    outline: none;
}

.saveBtn {
    background: #00df82;
    color: #000;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.successBanner {
    background: rgba(0, 223, 130, 0.1);
    color: #00df82;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #00df82;
}

.orderId{
    margin-right: 1em;
    font-size: 1.05rem;
}