.footer {
  background-color: rgba(0,0,0,0.4); /* Темний фон (майже чорний) */
  color: #ffffff;
  padding: 40px 0;
  margin-top: auto;
  border-top: 1px solid #333;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footerColumn {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footerColumn h3, .footerColumn h4 {
  color: var(--color-primary);
  margin-bottom: 15px;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 8px;
}

.footerColumn a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footerColumn a:hover {
  color: var(--color-primary);
}

.copyright {
  font-size: 0.9rem;
  color: #777;
  margin-top: 20px;
}

.socials a {
  margin-right: 15px;
  font-weight: bold;
}