.card {
  padding: 1.143rem;
  background: var(--bg-main);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.857rem;
}

.date {
  font-size: 1rem;
  color: var(--text-secondary);
}

.status {
  font-weight: var(--fw-medium);
}

.tickets {
  display: flex;
  flex-direction: column;
  gap: 0.429rem;
}

.ticketRow {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.8em 0;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 0.571rem;
  border-top: 0.071rem solid var(--ui-border);
  font-weight: var(--fw-bold);
  font-size: 1.2em;
  color: var(--color-primary);
}

.user {
  display: flex;
  align-items: center;
  gap: 0.857rem;
  padding: 1rem 0;
  border-bottom: 1px var(--ui-border) solid;
}

.name {
  font-weight: var(--fw-medium);
  text-transform: capitalize;
}

.email {
  font-size: 0.8rem;
  color: var(--text-secondary);
}
