.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.contentWrapper{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f4f6f8;
}