.Header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 4rem;
    border-bottom: 1px var(--text-secondary) solid;
}

.Actions {
    display: flex;
    align-items: center;
}