.badge {
  display: inline-flex; 
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 2em; 
  border: 1px solid transparent;
  transition: opacity 0.2s ease;
  cursor: default;
  font-family: var(--font-main);
  font-weight: var(--fw-medium);
}

.badge:hover {
  opacity: 0.8;
}


.lg {
  padding: 0.5rem 1.25rem; 
  font-size: 1.125rem; 
  border-radius: 0.75rem; 
}


.md {
  padding: 0.5rem 1.25rem; 
  font-size: 0.875rem; 
}


.sm {
  padding: 0.25rem 1rem; 
  font-size: 0.75rem; 
}

.defaultColors {
  background-color: transparent;
  color: var(--text-main);
  border-color: var(--ui-border);
}


.primaryColors {
  background-color: var(--color-primary);
  color: var(--text-dark); 
  border-color: var(--color-primary);
}