.controlPanel{
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.createButton{
    margin-right: 2em;
}

.pageSizeInput{
    display: inline;
    margin: 0 0 0 0;
}

.pageSizeInput label{
    margin: 0 1em 0 0;
}