.container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    max-width: 800px;
}

.row {
    width: 100%;
    display: flex;
    gap: 0.5%;
    justify-content: center;
}
.rowNumber{
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    /* width: 0.2em; */
    font-size: smaller;
    font-weight: bold;
}

.rowDiff{
    width: 100%;
    display: flex;
    gap: 0.5%;
    justify-content: center;
}

.colNumber{
    border: 2px transparent solid;
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    font-weight: bold;
    font-size: smaller;
} 

