.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: transparent;
    color: var(--text-main-dark);
    font-family: var(--font-main);
    text-align: center;
}

.content {
    max-width: 600px;
    padding: 20px;
}

.errorCode {
    font-size: 8rem;
    color: var(--color-danger); 
    font-weight: var(--fw-heavy);
    margin: 0;
}

.title {
    font-size: 2.2rem;
    font-weight: var(--fw-bold);
    margin: 15px 0;
    text-transform: uppercase;
}

.text {
    font-size: 1.1rem;
    color: var(--text-secondary);
    margin-bottom: 30px;
}

.buttonWrapper {
    margin-top: 10px;
}

.dashboardBtn {
    padding: 0 0;
    font-weight: var(--fw-bold);
    color: var(--text-dark);
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}
.dashboardBtn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    transition: width 0.3s ease;
}

.dashboardBtn:hover::after {
    width: 96%;
}