.pendingForm{
    cursor: not-allowed;
    background-color: var(--button-disabled);
}
.actions{
    display: flex;
    justify-content: end;
    gap:2em;
    margin-top: 2em;
}

.datesContainer{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 1em;
    margin: 1em 0;
}

.sceletonContainer{
    position: relative;
}
.sceletonHover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: var(--button-disabled); */
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: larger;
    font-weight: var(--fw-medium);
}

.sceletonContainer:hover .sceletonHover {
    display: flex;
}