.pendingForm{
    cursor: not-allowed;
    background-color: var(--button-disabled);
}
.actions{
    display: flex;
    justify-content: end;
    gap:2em;
    margin-top: 2em;
}

.datesContainer{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 1em;
    margin: 1em 0;
}

.timeForm{
    display: grid;
    grid-template-columns: 76% 24%;
    gap: 2%;
    grid-template-rows: calc(6em + 2px);
    align-items: end;
    margin: 1em 0;
}
.timeForm >div{
    margin: 0;
    justify-items: end;
}